@use "sass:color";

.container {
  display: grid;
  grid-template:
    "label . value"
    "slider slider slider" / auto 1fr auto;
  align-items: center;
  gap: 0.5rem 1rem;
}

.label {
  grid-area: label;
  font-weight: 600;
}

.value {
  grid-area: value;
  font-family: var(--font-code);
  font-size: 0.875rem;
  font-weight: 500;
  text-align: right;
  white-space: pre;
}

.slider {
  all: unset;

  grid-area: slider;
  height: 3rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, var(--color-stops));
  box-shadow: inset 0 0 0 1px color.change(#000, $alpha: 0.2);
  user-select: none;

  &::-webkit-slider-runnable-track {
    height: 100%;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1.5rem;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 1.5px #000, 0 0 0 1.5px #fff;
  }

  &::-moz-range-thumb {
    all: unset;
    width: 1.5rem;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 1.5px #000, 0 0 0 1.5px #fff;
  }

  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}
