:root {
  --font-ui: "Source Sans 3", sans-serif;
  --font-code: "M PLUS Code Latin", sans-serif;
}

html {
  font-family: var(--font-ui);
  line-height: 1.5;
  overflow-wrap: break-word;
  background-color: var(--color-background);
}

body {
  margin: 0;
}
